*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-areas: navv cont;
}

#nav{
    position: fixed;
    grid-area: navv;
    color: #919191;
}
#name{
    font-size: 2.5em;
    color: #4c4c4c;
    padding: 50px;
}
#mlist{
    padding-left: 50px;
    font-size: 1.2em;
}
#list{
    list-style-type: none;
    
}
#list li{
    padding-bottom:  15px;
    width: min-content;
}

.txthover :hover{
    color: #9e2929;
}
.mousepointer :hover{
    cursor:pointer;
}



#portfoliocont{
    background-color:#edf4f4 ;
    /* border: solid 15px #3563eb; */
    border-radius: 30px;
    grid-area: cont;
    grid-column: 2 / 5;
    min-height: 100vh;
    margin: 20px;
    color: #042e9b;
    display: none;/*remove*/
    overflow: hidden;
}
#infocont{
    grid-area: cont;
    grid-column: 2/5;
    display: none;/*remove*/
}
#certficatescont{
    grid-area: cont;
    grid-column: 2/5;
    display: none;/*remove*/
}
#contactcont{
    grid-area: cont;
    grid-column: 2/5;
    display: none;/*remove*/
}
#othercont{
    grid-area: cont;
    grid-column: 2/5;
    display: none;/*remove*/
}



/*//////////////*/
#wlcmsg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top:50px ;
    /* overflow-x: hidden; */
    font-size: 3em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #21384d,
        1px 2px 1px #21384d,
        1px 3px 1px #21384d,
        1px 4px 1px #028fc8,
        1px 5px 1px #028fc8,
        1px 6px 1px #028fc8,
        1px 7px 1px #028fc8,
        1px 8px 1px #01426b,
        1px 9px 1px #01426b,
        1px 10px 1px #01426b,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.sanimate{
    position: relative;
}



#aboutmsg{
    padding: 50px;
    font-size: 2em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

#aboutmsg :nth-child(1){
    font-size: 1.5em;
}
#aboutmsg :nth-child(3){
    padding-left: 100px;
    padding-top: 20px;
    
}
#aboutmsg :nth-child(5){
    padding-left: 170px;
    
}